<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nepheus.capacitor.fullscreennotification">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <service android:name="nepheus.capacitor.fullscreennotification.MessagingService" android:exported="false">
            <intent-filter>
                <action android:name="@string/intent_filter_action_pushnotification" />
            </intent-filter>
        </service>
    </application>
</manifest>
